################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebPortal/v14
/html/search
/html
/latex
/WebPortal/html
/WebPortal/latex
